//color
$red-color: #891818;
$black-color: #000000;
$white-color: #ffffff;

// 字體相關
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-h1: 80px;
$font-size-h2: 64px;

$font-size-normal: 24px;
$font-size-small: 20px;

// 間距
$base-spacer: 8px;
